<article class="container__big-card">

    <div class="imgBigCard">
        <img src="https://i.ytimg.com/vi/mVjYG9TSN88/hq720.jpg?sqp=-oaymwE7CK4FEIIDSFryq4qpAy0IARUAAAAAGAElAADIQj0AgKJD8AEB-AH-CYAC0AWKAgwIABABGH8gEyhWMA8=&rs=AOn4CLAd8M7O1rK30HRH-9RXrVAjhjqCOA" alt="angular-img">
    </div>

    <div class="titleBigCard">
        <a href="#">
            <h1>Saiu a nova versão do Angular</h1>
        </a>
    </div>

    <div class="descriptionBigCard">
        <a href="#">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex voluptas fugiat blanditiis nobis quibusdam voluptatibus, eos in fuga dolore nesciunt quisquam, quos voluptatem unde! Nihil aperiam dignissimos labore soluta quia.</p>
        </a>
    </div>

</article>
